table {
    border-collapse: collapse;
}

th, td {
    width: 200px;
    border-bottom: 1px solid gray;
    text-align: center;
}

button {
    border: 1px solid transparent;
    margin: 2px;
    border-radius: 4px;
}

dialog {
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 0px;
}

.content {
    width: 60vw;
    display: grid;
    justify-items: center;
    gap: 20px;

}

.add-button, .close-dialog {
    padding: 8px 16px;
    border-radius: 8px;
}